.app {
  padding: 30px;
  background-color: #fbfbfb;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.card{
  margin: 10px;
}

.form-control {
  margin-bottom: 10px;
}